/* main {
    background-color: rgb(36, 38, 13);
    border-radius: 20px;
}


@media screen and (max-width: 1000px) {
    main {
        border-radius: 0;
    }

}

@media screen and (max-width: 600px) {
    main {
        border-radius: 0;
    }

} */