
main {
    grid-template-columns: 1fr 3fr;
    align-items: start;
}


/* MEDIA QUERIES */
@media screen and (max-width: 860px) {
    main {
        grid-template-columns: 1fr;
        padding-left: 0;
        padding-right: 0;
        gap: 20px;
    }
    .card {
        border-radius: 0;
    }
    .card h2 {
        text-align: center;
    }
}